FCClient/Library/
FCClient/Temp/
FCClient/Builds/
FCClient/BuildReports/
FCClient/obj/
FCClient/Assets/StreamingAssets/AssetBundles/
FCClient/Assets/StreamingAssets/AssetBundles.meta
*.userprefs
*.sln
*.csproj
*.unityproj
